{% extends 'store/main.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<div class =" row" >
    <div class="col-lg-3 mx-auto" style = "margin-right: 50px">
        <div class="list-group" style = "float" >
    
            {% comment %} <h2 style = "text-align:center; color: red">Danh Mục</h2> {% endcomment %}
            <h2 class="category-link" href="{% url 'store' %}" style = "text-align:center;  font-size: 2rem;font-weight: 500;" >Danh Mục  <span class="sr-only">(current)</span></h2>
    
            {% for category in categories %}
            <a href="/?category={{category.id}}" style = "border: none; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; "
                class="list-group-item list-group-item-action btn btn-outline-success ">{{category.name}}</a>
            {% endfor %}
        </div>
        <div class="list-group" style = "background-color: white; margin-top: 50px " >
    
            <h2 style = "text-align:center; color: red; margin-bottom: 10px" >Phạm Vi Giá</h2>
            <form id="search-form"   >
                
                <select name="price_range" style = "margin-left: 10px" >
                    <option value="0" >Tất cả giá</option>
                    <option value="1">0 - 100.000đ</option>
                    <option value="2">100.000đ - 500.000đ</option>
                    <option value="3">500.000đ - 1.000.000đ</option>
                </select>
                <button type="submit" class="btn btn-primary" style = "margin-top: 10px; margin-left: 10px" >Tìm kiếm</button>
            </form>
        </div>
    </div>
    <div id='products' class="col-lg-9 mx-auto">
        <h2 style = "text-align: center; color: red">Sản Phẩm</h2>
        {% comment %} {% if category %}
        <div style="text-align:center">
            <h2 style="color: Red">{{ category.name }}</h2>
        </div>
        {% endif %} {% endcomment %}
        <div class="row " style="border: 3px solid rgba(0, 0, 0, 0.025)">
            {% for product in products %}
                <div class="col-lg-4" >
                    
                    <img style = "height: 230px; position: relative;  " class="thumbnail" src="{{product.imageURL}}">
                    <a href="">
                        <i class="fa-solid fa-heart" style = "margin-top: 5px;color:black; right: 25px; position: absolute; display: inline-block;" ></i>
                    </a>
                    <div class="box-element product">
                        <h6 style="text-align: center"><strong>{{product.name}}</strong></h6>
                        <hr>
        
                        <div style="display: flex; justify-content: space-around">
                            <button data-product="{{product.id}}" data-action="add" class="btn search-button btn-outline-secondary add-btn update-cart">Thêm giỏ hàng</button>
                            {% comment %} <a href = '{% url 'product_detail' %}'  class="btn btn-outline-success">Hiển thị</a> {% endcomment %}
                            <a href="{% url 'detail' pk=product.id %}" class="btn btn-outline-success">Chi Tiết</a>



                        </div>
                        <br>
                        <div >
                            <h4 style="text-align: center; color: Red">
                                <strong>{{product.price|floatformat|intcomma}}đ</strong>
                            </h4>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% comment %} PHÂN TRANG {% endcomment %}
        <div>
            {% if products.has_other_pages %}
    <nav style = "margin-top: 40px; margin-left: 5px">
        <ul class="pagination justify-content-center">
            {% if products.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1">&laquo; Đầu tiên</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ products.previous_page_number }}">&lsaquo; Trước</a>
            </li>
            {% endif %}
            
            {% for i in products.paginator.page_range %}
                {% if products.number == i %}
                <li class="page-item active">
                    <span class="page-link">{{ i }} <span class="sr-only">(current)</span></span>
                </li>
                {% elif i > products.number|add:"-3" and i < products.number|add:"3" %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                </li>
                {% endif %}
            {% endfor %}
            
            {% if products.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ products.next_page_number }}">Tiếp &rsaquo;</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ products.paginator.num_pages }}">&raquo; Cuối cùng</a>
            </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
        </div>
    </div>
</div>

<script>
    document.querySelectorAll('.show-product-btn').forEach(function(button) {
        button.addEventListener('click', function() {
            const productId = this.dataset.id;
            const url = `/detail/${productId}/`;
            window.location.href = url;
        });
    });
    
</script>

{% endblock content %}



